<h1>Editing category</h1>

<%= render 'form' %>

<% if @category.errors.any? %>
	<h3> These errors prohibitted the form from being saved: </h3>
	<ul>
		<% @category.errors.full_messages.each do |msg| %>
		<li> <%= msg %></li>
		<%end%>
		</ul>
		<%end%>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
