<h1>Editing product</h1>

<%= render 'form' %>

<% if @product.errors.any? %>
	<h3> These errors prohibitted the form from being saved: </h3>
	<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li> <%= msg %></li>
		<%end%>
		</ul>
		<%end%>


<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
